{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <h1>Register</h1>
        {% if messages %}
        {% for message in messages %}
        <p style="color:red; text-align: center;font-size: 18px;">
            {{ message }}
        </p>
        {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password</label>
            <div class="password-container">
                <input type="password" id="password" name="password" required>
                <span class="password-toggle">
                    <i class="fa fa-eye-slash"></i>
                </span>
            </div>
            <p id="help-text" class="hide">
                Password must contain at least 8 characters, including 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character.
            </p>
            <label for="repeat-password">Repeat Password</label>
            <div class="password-container">
                <input type="password" id="repeat-password" name="repeat-password" required>
                <span class="password-toggle">
                    <i class="fa fa-eye-slash"></i>
                </span>
            </div>
            <div class="password-strength-meter">
                <div class="password-strength-meter-bar"></div>
                <div class="password-strength-meter-label"></div>
            </div>
            <div class="g-recaptcha" data-sitekey="6LdKQGolAAAAALxSur8M8qEKU8zgF3I7bQ0EyQBk" data-callback="onCaptchaSubmit" data-expired-callback="onCaptchaExpired" required></div>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
        <div class="form-message"></div>
    </div>

    <script src="{% static 'js/register.js' %}"></script>
</body>

</html>